.form {
    width: 700px;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 39px), repeating-linear-gradient(#444cf755, #444cf7);
}